html, body{
    margin: 0;
    padding: 0;
    max-width: 100vw !important;
}
.header{
    width: 100%;
    height: 300px;
}
.button-container1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fam{
    width: 100%;
}
.picture{
    min-width: 200px;
}
.button{
    width: 200px;
}
.experience{
    width: 100%;
    height: 100%;
}
.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    z-index: 10;
}
.a{
    height: 100px;
    width: 100%;
}
.media{
    width: 100%;
    position: relative;
    min-height: 60vh;
    top: -100px;
}
.home{
    height: 100px;
    width: 30%;
}
.we{
    width: 100%;
    height: 70vh;
}
.position{
    position: relative;
    top: -70vh;
}
.exppage{

    height: 100px;
    width: 20%;
}
.scott{
    height: 100px;
    width: 20%;
}
.blog{
    height: 100px;
    width: 25%;
}
.line{
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
}
@media only screen and (max-width: 600px) {
    .header{
        height: 150px;
    }
    .padding{
        padding: 0 !important;
    }
    .socials a img{
        height: 30px;
    }
    .socials img{
        height: 30px;
    }
    .button{
        width: 100px;
    }
  }